{% extends "base.html" %}

{% block title %}明源云客 2025 Ai Coding 创新大赛{% endblock %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded mb-4">
    <h1 class="display-4">明源云客 2025 Ai Coding 创新大赛</h1>
    <p class="lead">欢迎参加明源云客年度AI编程创新大赛！</p>
    <hr class="my-4">
    <p>探索参赛队伍信息，了解各队实力，为创新项目加油助威！</p>
    <div class="d-flex gap-3 justify-content-center">
        <a class="btn btn-primary btn-lg" href="{{ url_for('teams') }}" role="button">查看参赛队伍</a>
        <a class="btn btn-outline-primary btn-lg" href="{{ url_for('about') }}" role="button">了解更多</a>
    </div>
</div>


{% endblock %}
